// Variables for Menu Item
$menuItemBG : purple;
$menuItemDisplay : flex;
$menuItemJustifyContent : center;
$menuItemBGFlexWrap : wrap;

// Variables for Menu Item List
$menuItemListDisplay : inline-block;
$menuItemListHeight : 50px;
$menuItemListLineHeight : 30px;
$menuItemListPadding : 10px;

// Variables for Menu Item List Anchor Tags
$menuItemListAnchorColor1 : white; 
$menuItemListAnchorColor2 : orange;