// Styles for navigation in the header
.header{
    position: $headerPosition;
    top: $headerTop;
    left: $headerLeft;
    width: $headerWidth;
    z-index: $headerZIndex;
    // Styles for the navigation bar
    .header__nav{
        width: $navWidth;
        height: $navHeight;
        background-color: $navBackGroundColor;
        color: $navTextColor;
        line-height: $navLineHeight;
        display: $navDisplay;
        justify-content: $navJustifyContent;
        // Styles for the heading inside the navigation bar
        .header__heading{
            cursor: pointer;
            font-size: 16px;
        }
        // Styles for search bar
        .searchBar{
            display: $searchBarDisplay;
            justify-content: $searchBarJustifyContent;
            align-items: $searchBarAlignItems;
            .searchBar__input{
                width : $searchBarInputWidth;
                max-width: $searchBarInputMaxWidth;
                padding: $searchBarInputPadding;
                margin : $searchBarInputMargin;
                border : $searchBarInputBorder;
                border-radius: $searchBarInputBorderRadius;
                outline : $searchBarInputOutline;
                text-align: $searchBarInputTextAlign;
                &:hover{
                    box-shadow : 4px 2px 5px black;
                }
            }
        }
        // Styles for the shopping cart section inside the navigation bar
        .header__shop_card{
            position: $shopcardPosition;
            padding: $shopcardPadding;
            width:$shopcardWidth;
            cursor: pointer;
            font-size: $shopcardFS;
            // Styles for the shopping cart icon
            .card{
                font-size: $shopcardIconFS;
                text-align: $shopcardIconTextAlign;
            }
            // Styles for the number of items in the shopping cart
            .header__shop_card-Items{
                position : $shopcardItemsPosition;
                top : $shopcardItemsTop;
                right : $shopcardItemsright;
                height : $shopcardItemsHeight;
                width : $shopcardItemsWidth;
                font-size : $shopcardItemsFS;
                text-align : $shopcardItemsTextAlign;
                border-radius : $shopcardItemsBorderRadius;
                background-color : $shopcardItemsBG;
                line-height : $shopcardItemsLineHeight;
            }
        }
    }
}