* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header .header__nav {
  width: 100%;
  height: 50px;
  background-color: purple;
  position: fixed;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  color: white;
  line-height: 50px;
}
.header .header__nav .header__heading {
  cursor: pointer;
}
.header .header__nav .header__shop_card {
  position: relative;
  padding: 5px;
  width: 50px;
  cursor: pointer;
  font-size: 25px;
}
.header .header__nav .header__shop_card .card {
  font-size: 1.5rem;
  text-align: center;
}
.header .header__nav .header__shop_card .header__shop_card-Items {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 50%;
  background-color: gray;
  line-height: 20px;
}

.slider {
  min-height: calc(50vh - 50px);
  background-image: url("../images/foodcourtBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider .slider__banner {
  background-color: rgba(128, 128, 128, 0.473);
  text-align: center;
}
.slider .slider__banner h2 {
  font-size: 70px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: yellow;
  text-shadow: 2px 1px 1px whitesmoke, 5px 2px 1px purple;
  cursor: pointer;
  animation: slideAnimation 1s ease-in-out 0.5s 1 normal forwards;
}
.slider .slider__banner h2:hover {
  transform: scale(120%);
  transition: all 1s ease-in-out 0.5s;
}
@keyframes slideAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.slider .slider__banner p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  font-style: oblique;
}

.menuItem {
  background-color: purple;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menuItem ul {
  list-style-type: none;
}
.menuItem ul li {
  display: inline-block;
  height: 50px;
  line-height: 30px;
  padding: 10px;
}
.menuItem ul li a {
  text-decoration: none;
  color: white;
}
.menuItem ul li a:hover {
  color: orange;
}

.productsCategory {
  font-size: 50px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: green;
  text-shadow: 2px 2px 1px black, 2px 2px 1px whitesmoke;
  text-align: center;
  background-color: orange;
  padding: 5px;
}

.productsContainer {
  width: 90vw;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem 1.5rem;
}
.productsContainer .products {
  background-color: white;
  box-shadow: 4px 2px 5px black;
  position: relative;
}
.productsContainer .products .imageContainer {
  height: 200px;
  overflow: hidden;
}
.productsContainer .products .imageContainer .imageContainer__items {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.productsContainer .products .imageContainer .imageContainer__items:hover {
  transform: scale(120%);
  transition: all 0.5s linear;
}
.productsContainer .products .add-to-cart-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 40px;
  border: none;
  background-color: gray;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
.productsContainer .products .add-to-cart-item:hover {
  background-color: navy;
  transition: all 0.3s linear 0.2s;
}
.productsContainer .products .fav-item {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.productsContainer .products .fav-item:hover {
  color: yellow;
  transition: all 0.3s linear 0.2s;
}
.productsContainer .products .foodName {
  text-align: center;
  color: orange;
  font-weight: bold;
}
.productsContainer .products .companyName {
  margin-top: 10px;
  text-align: center;
  color: navy;
}
.productsContainer .products .cost {
  background-color: navy;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer {
  width: 100%;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
