// Footer Style
.footer{
    width: $footerWidth;
    padding: $footerPadding;
    background-color: $footerBG;
    color: $footerColor;
    text-align: $footerTextAlign;
    // Mobile view
    @media screen and (max-width: 290px) {
        .no-wrap{
            white-space: nowrap;
        }
    }
}