// Menus styles
.menuItem{
    background-color: $menuItemBG;
    display: $menuItemDisplay;
    justify-content: $menuItemJustifyContent;
    // flex-wrap: $menuItemBGFlexWrap;
    // Styles for the unordered list (ul) inside the menu
    ul{
        list-style-type: none;
        // Styles for each list item (li) inside the menu
        li{
            flex-grow: 1;
            display: $menuItemListDisplay;
            height: $menuItemListHeight;
            line-height: $menuItemListLineHeight;
            padding: $menuItemListPadding;
            // Styles for the anchor tags (a) inside each list item
            a{
                text-decoration: none;
                color: $menuItemListAnchorColor1;
                &:hover{
                    color: $menuItemListAnchorColor2;
                }
            }
            &:hover{
                background-color: white;
            }
        }
    }
    // Mobile view
    @media screen and (max-width: 690px) {
        ul{
            li{
                padding: 5px;
            }
        }
    }
   
}