// Reset styles for all elements
* {
    margin: $resetMargin; 
    padding: $resetPadding; 
    box-sizing : $resetBoxSizing;
}

// Body styles
body{
    background-color: $bodyBackgroundColor;
    @include fontRoboto; 
}